.quiz {
    display: flex;
    justify-content: center;
    height: 600px;
    flex-direction: column;
}

ul {
    padding: 0;
}

.alert {
    font-size: 40px;
    color: red;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100px;
}